<h1>Dr. Westerbaan's Lecture Notes</h1>

Below are links to notes used at Lander University:

<ul>{% for class_dict in list_of_class_dicts %}
  <h1> {{ class_dict.get('name') }} </h1>
  <li><a href="https://github.com/pwesterbaan/lander_lecture_notes/raw/main/{{ class_dict.get('file_name') }}" target="_blank">{{ class_dict.get('file_name') }}</a></li>
{% if class_dict.get('list_of_pdfs',{})|length >0 %}  <details name="annotated_notes" id="{{ class_dict.get('list_id') }}">
    <summary>{{ class_dict.get('name') }} Annotated Notes</summary>
  </details><br>
{% endif %}{% endfor %}</ul>

<span style="float:right">Last Modified: {{ today_str }}</span>

<script>
    // For anyone looking at this:
    // Obviously this is not a secure way to hide links
    // I'm hiding these links to encourage my students
    // to actually take notes and pay attention during class
    function show_links_by_date(noteKeysDir,dateUrlArray){
        baseURL="https://github.com/pwesterbaan/lander_lecture_notes/raw/main/";
        annNotesDir=noteKeysDir+"/annotated_notes/";

        var list = document.createElement('ul');      // Create the list element

        dateUrlArray.forEach(element => {
          [dispDate, fileName]=element;
          if (new Date() >= new Date(dispDate)){

            var myLink=document.createElement('a');   // Create the link
            myLink.href = new URL(fileName,baseURL+annNotesDir);
            myLink.text = fileName;
            myLink.target = "_blank"

            var item = document.createElement('li');  // Create a list item
            item.appendChild(myLink);                 // Add the link to it
            list.appendChild(item);                   // Add item to the list
          }
        });
    document.getElementById(noteKeysDir).appendChild(list);
    }
{% for class_dict in list_of_class_dicts %}{% if class_dict.get('list_of_pdfs',{})|length >0 %}
  var releaseDatesList=[
      {% for file in class_dict.get('list_of_pdfs') %}["{{ class_dict['release_date'][file] }}","{{ file }}"],
      {% endfor %}]
  show_links_by_date("{{ class_dict.get('list_id') }}",releaseDatesList);
{% endif %}{% endfor %}</script>
